{% extends 'base.html' %}

{% block title %}TimeBomb{% endblock %}

{% block main %}
<section>
    <div class="container">
        <h1>TimeBomb</h1>
        <div class="cards">
            <img class="votee object" data-value="3" src="../img/Timebomb.png">
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Résumé</h2>
        <div class="window">
            <div class="titlebar">
                <div class="buttons">
                    <div class="close">
                        <div class="closebutton"></div>
                    </div>
                    <div class="minimize">
                        <div class="minimizebutton"></div>
                    </div>
                    <div class="zoom">
                        <div class="zoombutton"></div>
                    </div>
                </div>
                <p>Timebomb.txt</p>
            </div>
            <div class="content">
                <h3>Qu'est-ce que TimeBomb ?</h3>
                <p>TimeBomb est un jeu Unity que j'ai réalisé durant la Code Game Jam 2023 avec mon équipe.</p>
                <p>La Code Game Jam est un évènement à l'IUT regroupant plusieurs équipes pour créer un jeu vidéo en 30h seulement.</p>
                <p>Time Bomb est donc un platformer 2D dans lequel 2 joueurs en local s'affrontent.</p>
                <p>L'objectif : ne pas avoir la bombe à la fin du chrono. </p>
                <p>Fonctionnalités : Un des deux joueurs est choisi aléatoirement pour débuter avec la bombe. Il devra poursuivre son adversaire afin de lui donner la bombe. Le joueur n'ayant pas la bombe doit fuir. Lorsque le chrono est terminé, le joueur qui possède la bombe perd une vie. Une partie est consituée de plusieurs rounds qui durent 30 secondes. Chaque joueur possède 3 vies, le jeu s'arrête quand l'un des deux joueurs n'a plus de vie. </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Un jeu addictif</h2>
        <div class="cards">
            <div class="text-card">
                <h3>Multijoueur</h3>
                <p>Grâce à sa gestion locale des joueurs, TimeBomb peut être joué à 2 sur le même clavier.</p>
            </div>
            <div class="text-card">
                <h3>Évènements</h3>
                <p>Des évènements peuvent survenir pendant la partie, un objet collectable se trouve au centre de la map.</p>
            </div>
            <div class="text-card">
                <h3>Temps</h3>
                <p>Nous abordons le thème Maître du temps sous tous les aspects (chrono, météo, époque)</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2 class="padding-bottom">TimeBomb en images</h2>
        <div class="cards direction-column">
            <div class="text-card">
                <img src="../img/timebomb/jeu.png" alt="jeu">
            </div>
            <div class="text-card">
                <img src="../img/timebomb/settings.png" alt="settings">
            </div>
            <div class="text-card">
                <img src="../img/timebomb/map.png" alt="map">
            </div>
            <div class="text-card">
                <img src="../img/timebomb/map2.png" alt="map2">
            </div>
        </div>
    </div>
</section>
{% endblock %}